<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.insuranceline">
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:name="com.insuranceline.App">


        <activity
            android:name=".ui.splash.SplashActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>


        <activity
            android:name=".ui.DispatchActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>


        <activity
            android:name=".ui.sample.TestActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>

        <activity
            android:name=".ui.login.LoginActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>

        <activity
            android:name=".ui.main.MainActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait">
        </activity>

        <activity
            android:name=".ui.login.termAndCond.TermCondActivity"
            android:label="@string/term_cond_activity_name"
            android:screenOrientation="portrait"
            android:parentActivityName=".ui.login.LoginActivity">
        </activity>

        <activity
            android:name=".ui.login.connect.FBConnectActivity"
            android:label="@string/activity_name_fit_bit_connect"
            android:screenOrientation="portrait"
            android:parentActivityName=".ui.login.LoginActivity">

            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.BROWSABLE"/>
                <data android:scheme="apitester" android:host="logincallback" />
            </intent-filter>

        </activity>


        <!--Services-->

        <service
            android:name="org.chromium.customtabsclient.shared.KeepAliveService"
            android:exported="true"/>

    </application>

</manifest>
