<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="au.com.lumo.ameego" >

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppThemeLumo"
        >
        <activity
            android:name="au.com.lumo.ameego.SplashActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait">
<!--            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>-->
        </activity>

        <activity android:name="au.com.lumo.ameego.DispatchActivity"
            android:screenOrientation="portrait"/>

        <activity
            android:name="au.com.lumo.ameego.SignInActivity"
            android:label="@string/sign_in_activity"
            android:theme="@style/AppThemeLumo"
            android:screenOrientation="portrait"/>

        <activity
            android:name="au.com.lumo.ameego.BaseActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan"
            android:label="@string/baseActivityName"/>

        <activity
            android:name="au.com.lumo.ameego.TermAndConditionActivity"
            android:screenOrientation="portrait"
            android:label="@string/terms_condition"/>

        <activity
            android:name="au.com.lumo.ameego.QuestionnaireActivity"
            android:screenOrientation="portrait"
            android:label="@string/questionnaire_title"/>

        <meta-data
            android:name="com.google.android.maps.v2.API_KEY"
            android:value="AIzaSyD-TKXued1Mn8LPwAgBdvLGF6XPLhlr2Pw" />

        <meta-data
            android:name="io.fabric.ApiKey"
            android:value="2061da790245376da9edaafacd12b5492bc9ddae" />
    </application>

</manifest>
